.section {
    h2 { text-align: left; padding-left: 4em; }
    h4 { width: 130px; }
    .tip { font-size: 12px; color: #555; }
    section {
        display: table-row;
        border-bottom: 1px solid #EEE;
        h4, > div {
            padding: 17px 0;
            display: table-cell;
            vertical-align: baseline;
            border-bottom: 1px solid #EEE;
        }
        img {
            &:hover { @include box-shadow(0, 0, 6px, #666); }
            @include box-shadow(0, 0, 3px, #666);
        }
    }
    input {
        margin-top: 5px;
        width: 300px;
        padding: 5px;
    }
}

$demo_warn_bg_color: #fcfcac;
/* $demo_warn_bg_color: #DDDAAA; */


.warn {
    font-size: 16px;
    background: $demo_warn_bg_color;
    padding: 8px;
    margin: 0;
    display: inline-block;
    a {
        font-weight: bold;
        color: blue;
    }
}

#warn-msg {
    display: none;
    right: 280px;
    background: $demo_warn_bg_color;
    font-size: 13px;
    top: 8px;
    padding: 6px 4px;
    font-weight: bold;
    a { color: blue; }
}

#notification {
    position: absolute;
    top: 8px;
    font-size: 12px;
    left: 50%;
    z-index: 1000;
    overflow: hidden;
    p {
        @include border-radius(4px);
        padding: 3px 5px;
        margin: 0;
    }
    .message { background: yellow;  }
    .error { background: #FDD; }
    visibility: hidden;
}
