.section {
    h2 { text-align: left; padding-left: 4em; }
    h4 { width: 130px; }
    .tip { font-size: 12px; color: #555; }
    section {
        display: table-row;
        border-bottom: 1px solid #EEE;
        h4, > div {
            padding: 17px 0;
            display: table-cell;
            vertical-align: baseline;
            border-bottom: 1px solid #EEE;
        }
        img {
            &:hover { @include box-shadow(0, 0, 6px, #666); }
            @include box-shadow(0, 0, 3px, #666);
        }
    }
    input {
        margin-top: 5px;
        width: 400px;
        padding: 5px;
        display: block;
    }
}

#all-settings {
    .section { display: none; padding: 10px 0 0 50px; }
    &.show-add .add-sub { display: block; }
    &.show-account .account { display: block; }
    &.show-about .about { display: block; }
    ul {
        list-style: disc;
        padding-left: 16px;
    }
}

#notification {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1000;
    overflow: hidden;
    p {
        @include border-radius(4px);
        padding: 3px 5px;
        margin: 0;
    }
    .message { background: yellow;  }
    .error { background: #FDD; }
    visibility: hidden;
}
