@import "vars";

#feed-content {
    /* $color: #313131; */
    /* $color: #333; */
    padding: 10px 0 100px 40px;
    overflow-y: auto;
    height: 100%;
    font-size: 16px;
    line-height: 2.1;
    /* color: #323c46; */
    color: #333;
    background: #F6F6F6;
    .like .icon-thumbs-up { visibility: visible; }
    .dislike .icon-thumbs-down { visibility: visible; }
    .neutral, .sys { .thumbs i { visibility: visible; } }
    .tags {
        li { color: #555; padding: 0 4px ;}
    }
    .date { float: right; }
    .meta {
        font-size: 12px;
        .link {
            @include overflow-ellipsis();
            display: block;
            max-width: 500px;
            padding-bottom: 4px;
            color: #aaa;
        }
        .sub {
            padding: 1px 20px;
            @include overflow-ellipsis();
            max-width: 300px;
            color: $unread_color;
        }
        .author { margin-left: 0; }
        padding-bottom: 6px;
        border-bottom: 1px solid #E8E8E8;
    }
    .feed {
        padding-bottom: 10px;
        h2 {
            margin: 10px 0 -4px 0;
            font-size: 20px;
        }
    }
    /* .feed */
    .thumbs {
        position: fixed;
        font-size: 34px;
        top: 81%;
        left: 50%;
        margin-left: 515px;
        line-height: 1;
        width: 40px;
        i { padding: 5px 0; }
    }
    * { max-width: 700px; }
    .summary {
        h1 { font-size: 23px;}
        h2, h3 { font-size: 20px; }
        h4, h5 { font-size: 18px; }
        padding-bottom: 150px;
        p {
            text-indent: 2em;
            text-align: justify;
            margin: 20px 0;
        }
        /* sup { */
        /* font-size: 16px; */
        /* vertical-align: baseline; */
        /* } */
        ul {
            list-style-type: disc;
            padding-left: 20px;
            li { margin: 5px 0; }
        }
        blockquote {
            padding: 5px;
            background: #f1f0ea;
        }
        ol {
            list-style-type: decimal;
            padding-left: 20px;
            li { margin: 5px 0; }
        }
        img {
            margin: 5px auto;
            display: block;
        }

        code, pre {
            font-size: 13px;
            font-family: monospace;
        }

        embed, object {
            display: block;
            margin: 5px auto;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
            border: 1px solid #ccc;
            td {
                padding: 0 5px;
                border-bottom: 1px solid #ccc;
            }
            td + td {
                border-left: 1px solid #ccc;
            }
        }
    }
}
