@import "vars";

#feed-content {
    > li {
        &.reading {
            border-left-color: #4d90f0
        }
        border: 1px solid #ddd;
        padding: 10px 0 10px 25px;
        box-shadow: 0 0 4px #e3e5eb;
        margin: 10px 0 20px;
        * { max-width: 740px; }
    }
    /* $color: #313131; */
    /* $color: #333; */
    /* overflow-y: auto; */
    /* height: 100%; */
    position: relative;
    font-size: 16px;
    line-height: 1.9;
    color: #333;
    /* background: #FAFAFA; */
    background: white;
    padding: 0 10px 0 5px;
    /* background: #F6F6F6; */
    /* .like .icon-thumbs-up { visibility: visible; } */
    /* .dislike .icon-thumbs-down { visibility: visible; } */
    /* .neutral, .sys { .thumbs i { visibility: visible; } } */
    .tags {
        li { color: #555; padding: 0 4px ;}
    }
    .date { float: right; padding-left: 8px; font-family: sans-serif;}
    .meta {
        font-size: 12px;
        .link {
            @include overflow-ellipsis();
            display: block;
            max-width: 500px;
            padding-bottom: 4px;
            color: #aaa;
        }
        .sub {
            padding: 1px 20px;
            @include overflow-ellipsis();
            max-width: 300px;
            color: $unread_color;
        }
        .author { margin-left: 0; }
        padding-bottom: 6px;
        border-bottom: 1px solid #E8E8E8;
    }
    .feed {
        padding-bottom: 10px;
        h2 {
            margin: 0 0 -4px 0;
            font-size: 20px;
        }
    }
    /* .feed */
    .thumbs {
        position: static;
        font-size: 18px;
        /* position: fixed; */
        /* font-size: 34px; */
        /* top: 81%; */
        /* left: 50%; */
        /* margin-left: 505px; */
        /* line-height: 1; */
        /* width: 40px; */
        line-height: 1;
        i { padding: 0; visibility: visible; }
    }
    .summary {
        /* font-family: Kai 'Lucida Grande', "Helvetica Neue","Microsoft YaHei", Helvetica, Arial, sans-serif; */
        /* font-size: 17px; */
        h1 { font-size: 23px;}
        h2, h3 { font-size: 20px; }
        h4, h5 { font-size: 18px; }
        /* padding-bottom: 150px; */
        p {
            /* text-indent: 2em; */
            text-align: justify;
            margin: 15px 0;
        }
        li p { text-indent: 0; } /* 147878 */
        /* sup { */
        /* font-size: 16px; */
        /* vertical-align: baseline; */
        /* } */
        ul {
            list-style-type: disc;
            padding-left: 20px;
            li { margin: 5px 0; }
        }
        blockquote {
            margin: 13px;
            font-size: 15px;
            /* line-height: 1.5; */
            padding:0 7px;
            background: #f1f0ea;
        }
        ol {
            list-style-type: decimal;
            padding-left: 20px;
            li { margin: 5px 0; }
        }
        img {
            margin: 8px auto;
            display: block;
            box-shadow: 0 0 8px #999;
        }

        code, pre {
            line-height: 1.4;
            font-size: 13px;
            font-family: monospace;
        }

        embed, object {
            display: block;
            margin: 5px auto;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
            border: 1px solid #ccc;
            td {
                padding: 0 5px;
                border-bottom: 1px solid #ccc;
            }
            td + td {
                border-left: 1px solid #ccc;
            }
        }
    }
}

