@import "vars";

@mixin selected () {
    background: $selected_color;
}

.tags {
    display: inline-block;
    font-size: 9px;
    li {
        color: #000;
        background: #efefef;
        display: inline-block;
        padding: 1px 2px;
        @include border-radius(3px);
    }
}

#search-result {
    $color: #cacaca;
    box-shadow: 0px 2px 4px 2px $color;
    width: $search_width;
    top: 36px;
    left: $search_right;
    background: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid $color;
    font: 13px/1.65 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    .icon-folder-open { color: #3E9ACC; }
    a {
        @include overflow-ellipsis();
        display: block;
        padding: 8px 0 8px 6px;
    }
    b { color: #191919; }
    .feed {
        a {
            max-width: $search_width - 38px;
        }
        .title { margin-left: 19px; }
        &.selected { @include selected(); }
    }
    .title {
        max-width: $search_width - 208px;
        @include overflow-ellipsis();
        /* display: inline-block; */
        color: #111;
    }
    /* li { height: 37px; } */
    .indicator {
        top: 8px;
        height: 7px;
        width: 7px;
        left: 5px;
    }
    .subs {
        a {
            max-width: $search_width - 88px;
            padding: 6px 0 6px 6px;
        }
        border-bottom: 1px solid #eee;
        li {
            position: relative;
            &.selected { @include selected(); }
        }
    }
    .sub { font-size: 12px; color: #666; padding-left: 10px; }
    .count { top: 11px; right: 7px; }
    .icon-rss, img {
        position: relative;
        top: 1px;
    }
    @include border-radius(0 0 5px 5px);
}
