@mixin selected () {
    background: $search_result_selecte_color;
}

.tags {
    display: inline-block;
    font-size: 9px;
    li {
        color: #222;
        background: #efefef;
        display: inline-block;
        padding: 1px 2px;
        @include border-radius(3px);
    }
}

#search-result {
    a { padding: 2px 7px; display: block; }
    .feed {
        padding: 1px 3px 2px 3px;
        &:nth-child(even) { background: $nth_child_color;}
        &.selected { @include selected(); }
    }
    .title {
        display: inline-block;
        color: black;
        max-width: 500px;
        @include overflow-ellipsis();
    }
    .indicator {
        top: 5px;
        height: 7px;
        width: 7px;
        left: 4px;
    }
    .subs {
        padding-bottom: 2px;
        border-bottom: 1px solid #eee;
        li {
            position: relative;
            padding-top: 2px;
            &:nth-child(even) { background: $nth_child_color;}
            &.selected { @include selected(); }
        }
    }
    .count { top: 9px; right: 7px; }
    img { margin-top: 2px; }
    .feeds { .title { margin-left: 12px; } }
    .date { top: 26px; right: 7px; }
    .author { margin: 0; color: #111; }
    .meta {
        padding-left: 12px;
        width: 440px;
        @include overflow-ellipsis();
    }
    .sub { font-size: 9px; color: #333; }
    box-shadow: 0 1px 4px #aaa;
    width: 540px;
    top: 38px;
    left: 230px;
    background: #FFFFFD;
    @include border-radius(0 0 5px 5px);
}
