@import "vars";

@mixin selected () {
    background: $search_result_selecte_color;
}

.tags {
    display: inline-block;
    font-size: 9px;
    li {
        color: #000;
        background: #efefef;
        display: inline-block;
        padding: 1px 2px;
        @include border-radius(3px);
    }
}

#search-result {
    $color: #e5e5e5;
    box-shadow: 0px 2px 4px 2px $color;
    width: $search_width;
    top: 36px;
    left: $nav_width;
    background: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid $color;
    a { padding: 2px 7px 5px 7px; display: block; }
    .even { background: $nth_child_color; } /* feed */
    .feed {
        padding: 1px 3px 2px 3px;
        /* &:nth-child(even) { background: $nth_child_color;} */
        &.selected { @include selected(); }
    }
    .title {
        display: inline-block;
        color: black;
        max-width: $search_width - 88px;
        @include overflow-ellipsis();
    }
    .indicator {
        top: 5px;
        height: 7px;
        width: 7px;
        left: 4px;
    }
    .subs {
        padding-bottom: 2px;
        border-bottom: 1px solid #eee;
        /* .even { background: $nth_child_color; } */
        li {
            position: relative;
            padding-top: 2px;
            /* &:nth-child(even) { background: $nth_child_color;} */
            &.selected { @include selected(); }
        }
    }
    .sub { font-size: 10px; color: #222; }
    .count { top: 9px; right: 7px; }
    .feeds { .title { margin-left: 12px; } }
    .date { top: 26px; right: 7px; font-size: 10px; color: #444; }
    .author { margin: 0; color: #111; }
    .meta {
        padding-left: 12px;
        width: $search_width - 80px;
        @include overflow-ellipsis();
    }
    img { margin-top: 2px; }
    @include border-radius(0 0 5px 5px);
}
