/* $nav_width: 275px; */
$nav_width: 310px;
$footer_height: 230px;
$hover_color: #E5ECF9; // #DDD;
$selected_color: #D6E9F8;
/* $selected_color: #d8dfea; */
/* $selected_color: #4498e1; */
$header_height: 46px;
/* $header_color: #3D5877; */
$header_color: #3d668f;
$body_width: 1220px;
$search_width: 480px;
$nth_child_color: #f4fafb;
$search_result_selecte_color: #7b9bf0;

$like_color: #449d4e;
/* $like_color: #7CC127; */
$neutral_color: #f5d85f;
$dislike_color: #c28561;
$unread_color: #27629c;
$unread_color: #3b5998;
$unread_color: #0A3BA2;
$unread_color: #0B265C;
$unread_color: #259;
/* $unread_color: $header_color; */

/* $unread_color: #2E4B88; */
/* $feed_border_color: #e3e3e3; */
$feed_border_color: #E0E0DC;
$bg_url: '/imgs/bg-site.png';
