#commands {
    padding: 0;
    list-style: none;
    li {
        display: inline;
        padding: 2px 4px;
        a {
            display: inline-block;
            background: #ddd;
            padding: 4px 8px;
        }
    }
}

caption {
    font-weight: bold;
    min-width: 200px;
}

table {
    border-bottom: 1px #eee solid;
}

td:first-child {
    text-transform: capitalize;
}
