@import "css3";

$nav_width: 265px;
$footer_height: 230px;
$hover_color: #E5ECF9; // #DDD;
$selected_color: #D6E9F8;
/* $selected_color: #4498e1; */
$header_height: 46px;
$header_color: #3D5877;
$body_width: 1250px;
$nth_child_color: #f4fafb;
$search_result_selecte_color: #7b9bf0;

::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6); */
    background: #ECECEC;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* background: #cecece; */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /* background: #eeeeee; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    background: white;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: #fafafa;
}

img { border: 0; }
a { outline: 0; text-decoration: none;}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#sub-list {                     /* in logo */
    background: white;
    width: $nav_width;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    margin-top: 4px;
}

#logo {                         /* in header */
    &.show-nav #sub-list { display: block; }
    h1 {
        margin: 5px 65px 3px 26px;
        font-size: 26px;
        a { color: white; }
    }
    sub {
        font-size: 12px;
        margin-left: 7px;
        color: yellow;
    }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: $header_color;
    height: $header_height;
    width: 100%;
    .wrapper {
        width: $body_width;
        margin: 0 auto;
        position: relative;
        > * { position: absolute; }
    }
    input {
        left: 230px;
        font-size: 14px;
        padding: 5px 4px;
        width: 300px;
        margin-top: 6px;
        @include border-radius(5px);
    }
}

#show-settings {
    display: inline-block;
    font-size: 12px;
    right: 20px;
    top: 15px;
    color: white;
    &:hover { text-decoration: underline; }
}

#main {
    margin-top: $header_height;
    background: white;
    /* background: #F6F6F6 url('/imgs/bg.png') repeat center top; */
    /* background: #F6F6F6 url('/imgs/background.png') repeat center top; */
    position: relative;
}

html, body {
    width: $body_width;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

body {
    font: 400 14px/1.431 'Lucida Grande', "Helvetica Neue","Microsoft YaHei",Helvetica,Arial,sans-serif;
    background: #F6F6F6 url('/imgs/background.png') repeat center top;
}

#content { margin-left: $nav_width; }

#navigation {
    float: left;
    height: 100%;
    width: $nav_width;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
    h3 {
        a { color: #111; }
        margin: 0; padding: 8px 0 8px 5px; @include overflow-ellipsis();
    }
    .date { margin-left: 4px; }
}

#feed-list {                    /* navigation */
    width: $nav_width;
    overflow: auto;
    li {
        border-bottom: 1px dotted #eee;
        padding: 4px;
    }
    .selected { background: $selected_color; }
}

ul { list-style: none; padding: 0; margin: 0; }

#sub-list {                     /* in navigation */
    li.collapse  > ul { display: none; }
    .folder, .item {
        cursor: pointer;
        &.selected { background: $selected_color; }
        &:hover { background: $hover_color; }
    }
    .item {
        padding-left: 2em;
        position: relative;
        a { display: block; padding: 5px 0 3px 0; }
        img { left: 2em; }
    }
    img { position: absolute; top: 6px; }
    .folder {
        position: relative;
        span { padding: 7px 0 0 22px; display: inline-block; }
        img { left: 3px; }
    }
    .title {
        @include overflow-ellipsis();
        padding-left: 20px;
        max-width: 240px;
    }
}

.indicator {
    margin: 4px;
    position: absolute;
    top: 4px;
    height: 7px;
    width: 7px;
    @include border-radius(8px);
}

/* by sys, virtual small than by user */
.sys .indicator {
    height: 5px;
    width: 5px;
    top: 5px;
}

.count {
    position: absolute;
    right: 2px;
    top: 8px;
    font-size: 11px;
    span {
        padding: 3px 2px 1px 2px;
        @include border-radius(2px);
    }
}

.unread-like { background-color: #449d4e; color: #ffffff; }
.unread-neutral { background-color: #f5d85f; color: #303030; }
.unread-dislike { background-color: #c28561; color: #ffffff; }
.total { background: #999; color: white; }

.feed {
    .vote { right: 80px; }
    &.like {
        .indicator { background: #449d4e; }
        &:hover .vote span.up { visibility: visible; }
    }
    &.neutral {
        .indicator { background: #f5d85f; }
        &:hover .vote span { visibility: visible; }
    }
    &.dislike {
        .indicator { background: #c28561; }
        &:hover .vote span.down { visibility: visible; }
    }
}

.feeds .feed.sys {
    &.dislike, &.like {
        &:hover .vote span { visibility: visible; }
    }
}

.unread a { color: #00E; }
.read, .sys-read { a { color: #111; } }

#reading-area {
    overflow: hidden;
    div.feed { padding: 3px 4px; }
    &.show-iframe {
        #welcome-list { display: none; }
        .iframe { display: block; }
    }
    .iframe {
        position: relative;
        display: none; height: 100%;
    }
}

#welcome-list {
    overflow-y: auto;
    height: 100%;
    margin: 3px 2px 2px 0;
    h2 {
        a { color: black; }
        text-align: center; margin: 14px 0 8px 0;
    }
    .date {
        position: absolute;
        top: 7px;
        right: 1em;
    }
    .author { position: absolute; }
    .feed {
        margin-left: 25px;
        padding: 5px 3px 5px 0;
        &:nth-child(even) { background: $nth_child_color; }
    }
    .feeds {
        .title {
            max-width: 600px;
            display: inline-block;
            @include overflow-ellipsis();
        }
        margin: 2px 5px 5px 5px;
        width: $body_width - $nav_width - 100px;
    }
}

.settings-sort li {
    text-transform:capitalize;
    cursor: pointer;
}

.sort {                         /* in welcome-list*/
    $border_color: #bbb;
    border-bottom: 1px solid $border_color;
    padding-right: 65px;
    font-size: 14px;
    ul {
        padding: 0;
        margin: 0;
        text-align: right;
    }
    li {
        display: inline-block;
        padding: 3px 10px;
        &.selected {
            background: lighten($header_color, 13%);
            border-radius: 6px 6px 0 0;
            color: white;
            a { color: white; }
        }
        a { color: #222; }
    }
}

.pager {                        /* in welcome-list , left feeds nav*/
    padding: 5px 0 0 25px;
    border-top: 1px solid #EFEFEF;
    li {
        &.current { background: #ccc; font-weight: bold; }
        background: #ECECEC;
        display: inline-block;
        border-radius: 4px 4px 4px;
        &:hover { background: #ccc; }
        margin-left: 6px;
        /* easier cliclable */
        a { display: block; padding: 0px 12px; }
    }
}

#nav-pager {
    padding: 10px;
    text-align: center;
    li { cursor: pointer; padding: 0 12px;}
}

.feeds {                        /* share by welcome-list and feed-list */
    .title { margin-left: 17px; }
    > li {
        position: relative;
        a { display: block; }
        &:hover { background: $hover_color; }
    }
}

span.vote {
    position: absolute;
    span {
        display: inline-block;
        visibility: hidden;
        cursor: pointer;
        width: 18px;
        height: 18px;
        background: url(/imgs/vote.gif);
    }
    .down { background-position: -18px 0; }
}

.author {
    font-size: 10px;
    margin-left: 10px;
    color: #444;
    display: inline-block;
    background: #f2f2f2;
    padding: 1px 2px;
}

.date { font-size: 11px; color: #777; }

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    display: block;
    border-image: initial;
}


#footer {
    position: absolute;
    bottom: 0;
    background: #353535;
    opacity: 0.9;
    filter: alpha(opacity=90);
    width: 100%;
    height: 27px;
    padding: 4px 0 0 0;
    a {
        max-width: 670px;
        font-weight: bold;
        color: white;
        margin-left: 15px;
        @include overflow-ellipsis();
        &:hover { text-decoration: underline; }
    }
    img {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 24px;
        top: 6px;
    }
    .like .vote span.up { visibility: visible; }
    .dislike .vote span.down { visibility: visible; }
    .neutral, .sys { span { visibility: visible; } }
    .domain { color: white; padding: 0 10px 30px 10px ; font-size: 12px;}
    .indicator {
        top: 7px; right: 65px;
        height: 12px;
        width: 12px;
        @include border-radius(6px);
    }
    .sys .indicator {
        height: 9px;
        width: 9px;
        top: 7px;
        @include border-radius(5px);
    }
    .vote {
        right: 85px;
        span { display: inline-block; }
    }
}

#ct-menu {
    $color: #dfdfdf;
    a { color: #222; }
    span { color: #444; font-size: 12px; }
    li {
        width: 220px;
        margin: 1px 0;
        padding: 1px 4px 1px 16px;
        cursor: pointer;
        position: relative;
        &:hover { background: $search_result_selecte_color;}
        @include overflow-ellipsis();
    }
    .selected { background: $selected_color; }
    li.splitter {
        padding: 4px;
        height: 1px;
        width: 100%;
        background: $color;
        border: 1px solid white;
        padding: 0;
    }
    font-size: 13px;
    background: white;
    border: 1px solid $color;
    display: none;
    position: absolute;
    border-radius: 3px;
    z-index: 100;
    @include box-shadow(2px, 2px, 3px, $color);
}

@import "misc.scss";
@import "search-result.scss";

