@import "variable";
@import "css3";
@import "reset";
@import "common";

$right-width: 240px;

#main {
    width: $page-width;
    margin: 0 auto;
}

div.related {
    &:hover ul { display: block; }
    span {
        display: inline-block;
        padding: 0.2em;
        &:hover { background: #ccc;  }
    }
    position: relative;
    float: right;
    > ul {
        width: 25em;
        display: none;
        position: absolute;
        z-index: 101;
        background: #fff;
        list-style: none;
        padding: 0;
        @include box-shadow(2px, 1px, 7px, #666);
        li {
            padding: 0.1em 0.2em;
            width: 25em;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                background: #ccc;
            }
        }
    }
}

#feeds {
    width: $page-width - $right-width - 20px;
    .feed > h3 {
        margin: 0.2em 0;
        padding: 0.1em 0.1em;
        background: #eee;
        cursor: pointer;
        font-size: 15px;
        &:hover { background: #ddd; }
    }
    > ul {
        list-style: none;
        padding: 0;
    }
    .tags {
        margin-right: 0.8em;
        list-style: none;
        li {
            display: inline-block;
            padding: 3px;
        }
    }
    .author {
        margin-left: 20em;
    }
}

#right-side {
    width: $right-width;
    margin-left: $page-width - $right-width;
    position: fixed;
}

#tags ul{
    padding: 0 0 0 0.2em;
    list-style: none;
    li {
        display: inline-block;
        padding: 3px;
    }
}

.section-title {
    font-weight: bold;
}

#similar ul {
    padding: 0 0 0 0.2em;
    list-style: none;
    li {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
