@import "variable";
@import "css3";
@import "reset";
@import "common";

$right-width: 220px;
$page-width: 1200px; // wider on brose page

#main, #search {
    width: $page-width;
    margin: 0 auto;
}

#search {
    width: $page-width;
    margin: 1em auto;
    display: none;
    input {
        margin-left: 300px;
        padding: 0.3em 0.4em;
        width: 400px;
    }
}

#feeds {
    width: $page-width - $right-width;
    margin-left: $right-width;
    > ul {
        list-style: none;
        padding: 0;
        li { padding-bottom: 12px; }
    }
    td.ctrls {
        text-align: center;
        span {
            color: #eee;
            display: block;
            width: 30px;
            height: 25px;
            cursor: pointer;
            &.selected, &:hover { color: #aaa;  }
        }
        width: 30px;
        vertical-align: top;
    }
    td.data {
        .content {
            font-size: 13.5px;
            line-height: 1.35;
            > .snippet { margin-top: 4px; }
            > .summary { display: none; margin-top: 4px; }
        }
        > h3 {
            margin: 0;
            color: #1155CC;
            padding: 0.3em 0.1em;
            font-size: 16px;
            cursor: pointer;
            &:hover { background: #ddd; }
        }
        .meta {
            font-size: 13px;
            color: #555;
            a { color: #999; }
            height: 20px;
            overflow: hidden;
            .author { margin-left: 2em; }
            ul.tags {
                padding-left: 2em;
                display: inline;
                li { padding: 3px; display: inline-block; }
                list-style: none;
            }
        }
    }
}

#navs {
    width: $right-width;
    position: fixed;
}

#tags ul{
    padding: 0 0 0 0.2em;
    list-style: none;
    li {
        display: inline-block;
        padding: 3px;
    }
}
