
body {
    font-size: 14px;
    font-family:'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #F6F6F7;
}
#body {
    text-align: center;
}

#slogo {
    font-size: 24px;
    color: #727272;
    position: relative;
    height: 80px;
    span {
        padding-left: 85px;
    }
    img {
        top: -17px;
        position: absolute;
    }
}

h1 {
    font-size: 90px;
    color: #0b56a1;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: 27px;
    left: 30px;
    visibility: hidden;
}

#login {
    z-index: 100;
    &.show-form form {
        display: block;
    }
    &.show-form .arrow-up {
        visibility: visible;
    }

    form {
        border: 1px #ddd solid;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        display: none;
    }
}

form {
    margin-left: -170px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 6px 10px;
    p {
        color: #a00;
        margin: 5px 0;
    }
    td {
        &:first-child {
            text-align: right;
        }
        padding: 3px;
    }
    caption {
        font-weight: bold;
        padding: 10px;
    }
    .txt {
        width: 220px;
    }
    input {
        padding: 5px 6px;
    }
}

a {text-decoration: none;}


#openid {
    padding-top: 40px;
    a {
        display: inline-block;
        background-color: #7eb2e5;
        color: #132be0;
        padding: 6px 24px;
        font-weight: bold;
        font-size: 24px;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0px 1px 3px rgba(0, 0, 0, .2) inset;
    }
}

#login {
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: 350px;
    a {
        padding: 5px 17px;
        border-radius: 5px;
        background: #bbb;
        &:hover {
            background: #a2a2a2;
        }
    }
/* margin-left: -200px; */
}

#demo {
    padding-top: 70px;
    a {
        text-decoration: none;
        color: white;
        padding: 5px 24px;
        font-weight: bold;
        font-size: 24px;
        border-radius: 3px;
        background: #2c77e2;
    }
}
