@import "variable";
@import "css3";
/* @import "colorbox"; */

/* @import "reset"; */
/* @import "common"; */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.required { color: #C00; }

.lfloat { float: left; }
.rfloat { float: right; }

body {
    font: 400 15px/1.431 'Lucida Grande', 'Helvetica Neue', "Microsoft YaHei", Helvetica, Arial, sans-serif;
    /* background: transparent url('/s/imgs/bg-site.png') repeat center top; */
    /* background: #F6F6F6 url('/imgs/background.png') repeat center top; */
    background: #f6f6f6;
    color: #222;
    margin: 0;
    padding: 0;
}
img { border: 0; }
a { outline: none; }
table { border-collapse: collapse; border-spacing: 0; }

#accouts-div {
    width: 450px;
    margin: 0 auto;
    a { text-decoration: none; }
    h1 { width: 300px; margin: 40px auto 20px; font-size: 30px;}
    .s {
        width: 400px;
        padding: 10px;
        margin: 1em auto 0;
        &:hover {
            background: #f7f7f7;
        }
    }

    form {
        font-size: 15px;
        .textfield { width: 270px; padding: 6px; }
        td { padding: 4px; }
        p {
            text-align:center;
            color: #a00;
            margin: 5px 0;
        }
    }
    .openid {
        img {
            border: 1px #ddd solid;
            &:hover {
                border: 1px #aaa solid;
                box-shadow: 0 0 3px #888;
            }
        }
    }
}
