html, body {
    margin: 0;
    padding: 0;
/* overflow: hidden; */
}

body {
    font: 400 14px/1.431 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    padding: 0 6px 0 7px;
    width: auto;
}

.orginal {
    text-align: center;
    margin: 10px;
    /* float: right; */
    a {
        padding: 10px;
        text-decoration: none;
        /* background: #eee; */
    }
}

h2 {
    margin: 10px 0;
    .c {
        color: #888;
        font-weight: normal;
        font-size: small;
    }
}

.lists {
    .r a {
        color: #888;
    }
    list-style: none;
    padding: 0;
    margin: 0;
    img {
        padding-right: 4px;
        width: 17px;
        height: 17px;
        position: relative;
        top: 2px;
    }
    p {
        font-size: 16px;
        margin: 6px 0;
        a { padding: 6px 0 6px 0; }
    }
    li {
    }
    a {
        text-decoration: none;
        color: #259;
    }
}

i {
    font-style: normal;
    font-size: 90%;
}

.meta {
    .total { padding-left: 20px;}
    font-size: 90%;
    i, a {
        padding: 4px;
    }
    .t { color: #aaa; }
    color: #888;
}

@import "readable.scss";

#feed-content {
    font-size: 16px;
    .summary {
        padding: 3px 0 0 0;
        h1, h2, h3, h4, h5 { margin: 13px 0; line-height: 1.4;}
        h1 { font-size: 21px; }
        h2, h3 { font-size: 19px; }
        h4, h5 { font-size: 18px; }
    }
    a { text-decoration: none;}
    img {
        max-width: 300px;
    }
    padding: 0 3px 0 1px;
}
