html, body {
    margin: 0;
    padding: 0;
/* overflow: hidden; */
}

body {
    font: 400 14px/1.431 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    padding: 6px;
    width: auto;
}

h2 {
    margin: 10px 0;
}

.lists {
    list-style: none;
    padding: 0;
    margin: 0;
    p {
        font-size: 16px;
        margin: 0;
        a {
            display: inline-block;
            padding: 7px 0 5px 0;
        }
    }
    li {
    }
    a {
        text-decoration: none;
        color: #259;
    }
}

i {
    font-style: normal;
    font-size: 90%;
}

.meta {
    color: #888;
    i {
        padding: 4px;
    }
}

@import "readable.scss";

#feed-content {
    .summary {
        padding: 3px 0 0 0;
    }
    a { text-decoration: none;}
    img {
        max-width: 300px;
    }
    padding: 0 3px 0 1px;
}
