@import "css3";

$nav_width: 240px;
$footer_height: 190px;

.unread-like { background-color: #559F4D; color: #ffffff; }
.unread-neutral { background-color: #F9C72A; color: #303030; }
.unread-dislike { background-color: #CC2A2E; color: #ffffff; }

.unread {
    &.like .indicator { background: #559F4D; }
    &.neutral .indicator { background: #F9C72A; }
    &.dislike .indicator { background: #CC2A2E; }
}
.read {
    color: #777;
    .indicator { background: #ccc; }
}

.resizer { cursor: s-resize; }

html, body { height: 100%; margin: 0; padding: 0; overflow: hidden; }

#content { margin-left: $nav_width; height: 100%; }

#search-input {
    width: 100%;
    input {
        margin: 3px;
        padding: 2px;
        width: $nav_width - 30px;
    }
}

#reading-area {
    overflow: auto;
    div.feed { padding: 3px 4px; }
    .feed-title h3 {
        padding: 5px 0;
        margin: 0;
        background: #ccc;
    }
    &.show-iframe {
        .feed { display: none; }
        .iframe { display: block; }
    }
    .feed { display: block; }
    .iframe { display: none; height: 100%;}
}

.count {
    position: absolute;
    right: 2px;
    top: 7px;
    span { padding: 5px 2px 1px 2px; }
}

#admin-controls {
    height: 30px;
    position: absolute;
    width: $nav_width;
    background: #aaa;
    bottom: 0;
    * { float: right; cursor: pointer; margin: 1px 2px;}
    span { display: inline-block; }
    .add {
        &:hover { color: #ff0; }
        padding: 0 10px; font-size: 24px; color: #ee0; font-weight: bold;
    }
}

#navigation {
    float: left;
    height: 100%;
    width: $nav_width;
    border-right: 2px #deceaa solid;
    background: #eee;
    font-size: 12px;
    font-family: Consolas, monospace;
    .wrapper { overflow-x: hidden; overflow-y: auto; }
    a { text-decoration: none; }
    ul { list-style: none; padding: 0; margin: 0; }
    .folder, .item {
        cursor: pointer;
        &:hover { background: gray; }
    }
    .item {
        padding: 6px 0 4px 2em;
        padding-left: 2em;
        position: relative;
        img { left: 2em; }
    }
    img { position: absolute; top: 4px; }
    .folder {
        padding: 0px 0 3px;
        position: relative;
        span { padding: 7px 0 0 22px; display: inline-block; }
        img { left: 3px; }
    }
    .title {
        white-space: nowrap;
        overflow: hidden;
        padding-left: 20px;
    }
    .section {
        h3 {
            cursor: pointer;
            margin: 0;
            &:hover { background: #aaa; }
            padding: 0.3em 0;
        }
        &.active .expand { display: block; }
        .expand { display: none; }
    }
}

#feed-list {
    font-family: Consolas, monospace;
    font-size: 13px;
    span { display: inline-block; }
    ul.feeds {
        margin: 0;
        padding: 0;
        > li {
            position: relative;
            padding: 2px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
            &:hover { background: #ccc; }
            .indicator {
                margin: 4px;
                height: 5px;
                width: 5px;
                @include border-radius(2px);
            }
            .date {
                position: absolute;
                right: 3em;
            }
            &:hover .vote span { visibility: visible; }
        }
    }
    span.vote { right: 12em; }
    height: $footer_height - 22px;
    overflow: auto;
}

span.vote {
    position: absolute;
    span {
        display: inline-block;
        visibility: hidden;
        cursor: pointer;
        width: 18px;
        height: 18px;
        background: url(/imgs/vote.gif);
    }
    .down { background-position: -18px 0; }
}

.author { font-size: 10px; margin-left: 10px; }
.feed-info {
    font-size: 12px;
    color: #777;
    position: relative;
    padding-left: 12em;
    span.vote { left: 7em; top: 6px; }
    .up { visibility: visible; }
    .author, .time, .tags li { color: #222; }
    &:hover .vote span { visibility: visible; }
}

.tags {
    font-size: 10px;
    list-style: none;
    display: inline-block;
    li {
        background: #bbb;
        display: inline-block;
        padding: 2px 4px 1px;
        @include border-radius(3px);
    }
}

#footer {
    height: $footer_height;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#reading-chooser * { display: inline-block; }
#reading-chooser {
    position: relative;
    .info {
        cursor: default;
        margin-left: 10em;
        h5 { margin: 0; }
    }
    .prev-next { float: right; margin-right: 2em; }
    span { visibility: visible; }
    span.vote { left: 12em; }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .chooser, .prev-next {
        li {
            &:hover { background: #bbb; }
            cursor: pointer;
            background: #ccc;
        }
    }
    border-bottom: 3px solid #bbb;
    border-top: 1px solid #bbb;
}

#notification {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1000;
    font-weight: bold;
    font-size: 13px;
    overflow: hidden;
    p {
        @include border-radius(4px);
        padding: 5px;
        margin: 0;
    }
    .message { background: yellow;  }
    .error { background: #FDD };
    visibility: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    display: block;
    border-image: initial;
}
