@import "variable";
@import "css3";
@import "reset";

#accouts-div {
    margin-top:80px;
    input{  font-size: 1.2em; }
    .textfield{ padding: 0.2em; width: 300px; }
}

.post-form {
    margin-top: 3em;
    caption,td { padding: 5px 2px; }
    caption { font-weight: bold; font-size: 1.5em; }
    table, h2{
        margin: 0 auto;
    }
    tr td:first-child {
        text-align:right;
        vertical-align: middle;
    }
    input.textfield,textarea {
        width: 340px;
        padding: 0.2em;
    }
    label{
        font-weight: bold;
        padding: 0.2m 1em;
    }

}
.icon {
    background: url("/imgs/sprite.png?{VERSION}") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 23px;
    z-index: 2;
}

.link {
    cursor: pointer;
    color: $link_color;
    padding: 0 0.2em;
}
.link-selected {
    cursor: default;
    font-weight: bold;
    color: #000;

}
// color copyied from stackoverflow
.filter {
    padding: 3px 5px;
    cursor: pointer;
    background: #E0EAF1;
    color: #3E6D8E;
    font-size: 0.95em;
    @include border-radius(2px);
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
}

.filter-selected, span.filter:hover {
    background-color: #3E6D8E;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    color: #E0EAF1;
}


header {
    padding: 0.5em;
    text-indent: 1em;
    font-size: 20px;
    text-shadow: 1px 1px 0px #E0E0E0;
    h1 { margin: 4px 0 }
    a { color: #303030; }
    .sub { font-style: italic;  font-size: 14px;  }

}

#main { margin: 10px 0; }

nav {
    width: $nav_width;
    float: left;
    li, ul { margin: 0; padding: 0; list-style: none; }
}

.nav-tree {
    overflow-y: scroll;
    overflow-x: hidden;
    li {
        position: relative;
        a {
            display: block;
            color: $light_color;
            overflow: hidden;
            @include border-radius(4px);
            padding: 4px 4px 4px 23px;
            white-space: nowrap;
            &:hover { background: $hover_color; }
        }
        span { font-size: 0.85em; } // unread count
        a.selected { background: $selected_color; }
    }
    .sub a { text-indent: 20px;}
    .favicon { position: absolute; width: 14px; height: 14px; padding: 3px; left: 20px; }
    li.unread > a { color: black; font-weight: bold; }
    .toggle { background-position: 9px -58px;  }
    .collapsed {
        .toggle { background-position: -14px -58px;}
        ul { display: none; }
    }
}

#content-header {
    position: relative;
    padding: 0.7em 0.5em;
    background: $selected_color;
    @include border-radius(3px);
    .feed-title {
        font-weight: bold;
    }
    .commands {
        margin-left: 2em;
    }
    #view-style {
        position: absolute;
        right:0;
        top: 30%;
        padding-right: 12px;
    }
}

#entries { overflow-y: scroll; overflow-x: hidden; }

#content {
    margin-left: $nav_width;
    > ul { padding: 0; }
    div.collapsed {
        -moz-user-select: none;
        height: 2em;
        line-height: 2;
        position: relative;
        overflow: hidden;
        @include border-radius(4px);
        border-bottom: 1px solid #E3E3E3;
        cursor: pointer;
        &:hover { background: $hover_color; }
        .entry-main {
            overflow: hidden;
            margin-left: 2em;
            h4 { font-weight: normal; display: inline;}
            .snippet { color: $light_color; }
        }
    }
    .expanded .entry-container { display: block; }
    .entry-container {
        display: none;
        .entry-main { margin: 0.5em 1em; }
    }
    .current .collapsed { border: solid 2px #68E; }
    .expanded { border: 1px solid #6688EE; }
    .entry-date { float: right; margin: 0 2em; }
    li.current-entry { border: 2px solid #6688EE; }
    > ul { list-style: none; margin: 0;  }
    .icon {
        top: 5px;
        left: 3px;
        width: 16px;
        height: 16px;
    }
}

.overlay {
    background-color: #101030;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1001;
    opacity: 0.5;
    display: none;
}
#keyboard-shortcut {
    display: none;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    background: white;
    @include border-radius(5px);
    border: 3px solid transparent;
    z-index: 1002;
    height: 552px;
    width: 620px;
    position: fixed;
    left: 641px;
    top: 31px;
    .container { padding: 12px }
    .key {
        border-radius: 6px;
        border-top: 1px solid #717171;
        border-left: 1px solid #717171;
        border-bottom: 1px solid #303030;
        border-right: 1px solid #303030;
        background-color: #505050;
        color: white;
        text-shadow: 1px 1px 0 black;
        font-weight: bold;
        padding: 4px 6px;
        float: left;
        margin: 0 4px 0 0;
    }
    table {
        width: 100%;
        caption {font-size: 22px; color: #303030; text-shadow: 1px 1px 0px #E0E0E0; }
    }
}


