pom.xml
*jar
/lib/
/classes/
.lein-failures
.lein-deps-sum
.cake
.project
.classpath
bin/
.settings
public/css/
src/templates/
public/cl
public/js/rssminer/*tmpls.js
public/js/gen
public/js/*min.js
.idea/
.emacs.desktop*
/tags
/TAGS
