pom.xml
/target
*jar
/lib/
/classes/
.lein-failures
.lein-deps-sum
.cake
.project
.classpath
bin/
.settings
public/css/
test/20news-bydate-test/
test/20news-bydate-train/
src/templates/
public/cl
public/js/rssminer/*tmpls.js
public/js/gen
public/js/*min.js
.idea/
.emacs.desktop*
/tags
/TAGS
/public/rssminer.crx
chrome/style.css
/chrome/tmpls.js
/chrome/lib
/workspace/
