*jar
*psd
.cake
.classpath
.emacs.desktop*
.idea/
.lein-deps-sum
.lein-failures
.project
.settings
/.lein-plugins
/TAGS
/chrome/lib
/chrome/tmpls.js
/classes/
/lib/
/out/
/public/rssminer.crx
/src/Rssminer.iml
/tags
/target
/workspace/
bin/
chrome/style.css
pom.xml
public/cl
public/css/
public/js/*min.js
public/js/gen
public/js/rssminer/*tmpls.js
src/templates/
test/20news-bydate-test/
test/20news-bydate-train/
test/failed_rss/
/android/gen
/android/local.properties
*ic_launcher.png
