.links li { display: inline-block; padding: 0 10px; }

td.id, td.length  {
    vertical-align: top;
}
body {
    line-height: 1.6;
}
.summary *{
    max-width: 760px;
}

.compact *{
    max-width: 760px;
}


img {
    margin: 4px auto;
    display: block;
}

#near-duplicate li {
    max-height: 200px;
    overflow: auto;
    width: 1000px;
    margin: 10px;
    border-bottom: 1px solid blue;
}


.near-duplicate {
    border-bottom: 4px solid blue;
}

.near-duplicate .duplicate {
    max-height: 400px;
    margin: 5px 0;
    width: 1000px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.pager {
    position: fixed;
    left: 1050px;
    background: #efefef;
}

.pager li {
    list-style: none;
}

.pager li a {
    display: block;
    padding: 4px 10px;
}

.pager li a:hover {
    background: #ccc;
}
