<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Browse feeds - Rssminer, intelligent rss reader</title>
    <meta name="keywords" content="rss miner, rssminer, rss aggregator,
                                   intelligent rss reader">
    <meta name="description"
          content="RSSMiner is an intelligent web-based rss reader. By
                   machine learning, RSSMiner highlight stories you
                   like, and help discover stories you may like.">
    <link rel="stylesheet" href="/css/app.css?{VERSION}">
  </head>
  <body>
    <div id="header">
      <div class="wrapper">
        <h1><a href="#">Rssminer</a></h1>
        <input id="q" placeholder="search, feed, subscription..."/>
        <ul>
          <li><a href="#add" title="add subscription">Add</a></li>
          <li><a href="#settings"> Settings </a></li>
          <li><a href="#help">Help</a></li>
        </ul>

      </div>
    </div>
    <div id="main">
      <div id="navigation">
        <div class="subs">
          <!-- <h3>subscriptions</h3> -->
          <ul class="sub-list"> </ul>
        </div>
        <div class="feeds">
          <!-- <h3>Feeds</h3> -->
          <ul id="feed-list" class="feeds"></ul>
        </div>
      </div>
      <div class="hover-switch"></div>
      <div id="content">
        <div id="reading-area">
          <div class="welcome-list clearfix"></div>
          <div class="iframe">
            <iframe src="about:blank"></iframe>
            <div id="footer">
              <span class="domain"></span>
              <a href="" target="_blank"></a>
              <span class="vote">
                <span class="up">UP</span>
                <span class="down">DOWN</span>
              </span>
              <img class="loader" src="/imgs/loader.gif"/>
            </div>
          </div>
        </div>
        <div id="feed-list">
          <ul class="feeds"></ul>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/js/lib/jquery-ui-1.8.18.custom.js" data-profile="dev"></script>
    <script src="/js/lib/underscore.js" data-profile="dev"></script>
    <script src="/js/lib/mustache.js" data-profile="dev"></script>
    <script src="/js/gen/app-tmpls.js" data-profile="dev"></script>
    <script src="/js/rssminer/util.js" data-profile="dev"></script>
    <script src="/js/rssminer/ajax.js" data-profile="dev"></script>
    <script src="/js/rssminer/router.js" data-profile="dev"></script>
    <script src="/js/rssminer/layout.js" data-profile="dev"></script>
    <script src="/js/rssminer/rm_data.js" data-profile="dev"></script>
    <script src="/js/rssminer/keyboard.js" data-profile="dev"></script>
    <script src="/js/rssminer/search.js" data-profile="dev"></script>
    <script src="/js/rssminer/app.js" data-profile="dev"></script>
    <script src="/js/app-min.js?{VERSION}" data-profile="prod"></script>
  </body>
</html>
