<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Browse feeds - Rssminer, intelligent rss reader</title>
    <meta name="keywords" content="rss miner, rssminer, rss aggregator,
                                   intelligent rss reader">
    <meta name="description"
          content="RSSMiner is an intelligent web-based rss reader. By
                   machine learning, RSSMiner highlight stories you
                   like, and help discover stories you may like.">
    <link rel="stylesheet" href="/css/app.css?{VERSION}">
  </head>
  <body>
    <div id="navigation">
      <div class="wrapper">
        <div class="section">
          <h3>search</h3>
          <div id="search-input" class="expand">
            <input placeholder="full text search all you feeds" name="q"/>
            <ul class="search-result"></ul>
          </div>
        </div>
        <div class="section active">
          <h3>subscriptions</h3>
          <ul class="sub-list expand"> </ul>
        </div>
      </div>
    </div>
    <div id="admin-controls">
      <a href="#add" title="add subscription">
        <span class="add">+</span>
      </a>
      <a href="#settings" title="settings">
        <img src="/imgs/configure.png" width="28"/>
      </a>
      <a href="#help" title="show keyboard shortcut">
        <img src="/imgs/preferences_desktop_keyboard.png" width="28"/>
      </a>
    </div>
    <div id="content">
      <div id="reading-area">
        <div class="welcome-list clearfix"></div>
        <div class="iframe">
          <span class="vote">
            <span class="up">UP</span>
            <span class="down">DOWN</span>
          </span>
          <iframe src="about:blank"></iframe>
        </div>
      </div>
      <div id="footer">
        <div id="reading-chooser">
          <ul class="chooser">
            <li class="iframe">READING</li>
            <li>FEED LIST</li>
          </ul>
          <img class="loader" src="/imgs/loading.gif"/>
          <div class="info">
            <h5></h5><a target="_blank"></a>
          </div>
          <span class="vote">
            <span class="down"></span>
            <span class="up"></span>
          </span>
          <div class="row-resize resizer"></div>
        </div>
        <div id="feed-list">
          <ul class="feeds"></ul>
        </div>
      </div>
    </div>
    <script src="/js/lib/jquery-1.7.2.js" data-profile="dev"></script>
    <script src="/js/lib/jquery-ui-1.8.18.custom.js"
            data-profile="dev"></script>
    <script src="/js/lib/underscore.js" data-profile="dev"></script>
    <script src="/js/lib/mustache.js" data-profile="dev"></script>
    <script src="/js/gen/app-tmpls.js" data-profile="dev"></script>
    <script src="/js/rssminer/util.js" data-profile="dev"></script>
    <script src="/js/rssminer/ajax.js" data-profile="dev"></script>
    <script src="/js/rssminer/router.js" data-profile="dev"></script>
    <script src="/js/rssminer/layout.js" data-profile="dev"></script>
    <script src="/js/rssminer/data.js" data-profile="dev"></script>
    <script src="/js/rssminer/keyboard.js" data-profile="dev"></script>
    <script src="/js/rssminer/app.js" data-profile="dev"></script>
    <script src="/js/app-min.js?{VERSION}" data-profile="prod"></script>
  </body>
</html>
