<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Browse feeds</title>
    <link rel="stylesheet" href="/css/browse.css?{VERSION}">
  </head>
  <body>
    <div id="page-wrap">
      <div id="header">

      </div>
      <div id="main" class="clearfix">

      </div>
    </div>
    <script src="/js/lib/jquery.js" data-profile="dev"></script>
    <script src="/js/lib/underscore.js" data-profile="dev"></script>
    <script src="/js/lib/mustache.js" data-profile="dev"></script>
    <script src="/js/rssminer/util.js" data-profile="dev"></script>
    <script src="/js/rssminer/rssminer-tmpls.js" data-profile="dev"></script>
    <script src="/js/rssminer/browse.js" data-profile="dev"></script>
    <script src="/js/browse-{VERSION}-min.js"
            data-profile="prod"></script>
  </body>
</html>
