<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="/imgs/16px-feed-icon.png"/>
    <title>Rssminer Dashboard</title>
    <link href="/css/dashboard.css?{VERSION}" rel="stylesheet"/>
  </head>
  <body>
    <div id="page-wrap">
      <label for="interval">Auto refresh interval(s)</label>
      <input id="interval" value="20"/>
      <button id="refresh-now">Refresh</button>
      <div id="content">
      </div>
    </div>
    <script src="/js/lib/jquery.js" data-profile="dev"></script>
    <script src="/js/lib/jquery.flot.js" data-profile="dev"></script>
    <script src="/js/lib/jquery.flot.pie.js" data-profile="dev"></script>
    <script src="/js/lib/underscore.js" data-profile="dev"></script>
    <script src="/js/lib/mustache.js" data-profile="dev"></script>
    <script src="/js/gen/dashboard-tmpls.js" data-profile="dev"></script>
    <script src="/js/rssminer/util.js" data-profile="dev"></script>
    <script src="/js/rssminer/plot.js" data-profile="dev"></script>
    <script src="/js/rssminer/dashboard.js" data-profile="dev"></script>
    <script src="/js/dashboard-min.js?{VERSION}" data-profile="prod"></script>
  </body>
</html>
