<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="/imgs/16px-feed-icon.png"/>
    <title>Rssminer Dashboard</title>
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="page-wrap">
      <div id="notification">
        <p class="message"></p>
      </div>
      <ul id="nav">
        <li><a href="#rsslinks/1">RSS Links</a></li>
        <li><a href="#pending/1">Crawler Pending</a></li>
        <li><a href="#crawled/1">Crawled</a></li>
        <li><a href="#black/1">Black List</a></li>
      </ul>
      <div id="tables">
      </div>
    </div>
    <script src="/js/lib/jquery.js" data-profile="dev"></script>
    <script src="/js/lib/underscore.js" data-profile="dev"></script>
    <script src="/js/lib/backbone.js" data-profile="dev" ></script>
    <script src="/js/rssminer/util.js" data-profile="dev"></script>
    <script src="/js/rssminer/dashboard-tmpls.js" data-profile="dev"></script>
    <script src="/js/rssminer/dashboard.js" data-profile="dev"></script>
    <script src="/js/dashboard-{VERSION}-min.js"
            data-profile="prod"></script>
  </body>
</html>
