<div id="main" class="clearfix">
  <nav>
  </nav>
  <div id="content">
  </div>
  <script src="/js/lib/jquery.js" data-profile="dev"></script>
  <script src="/js/lib/jquery-ui-1.8.13.custom.js" data-profile="dev"></script>
  <script src="/js/lib/underscore.js" data-profile="dev"></script>
  <script src="/js/lib/backbone.js" data-profile="dev"></script>
  <script src="/js/lib/mustache.js" data-profile="dev"></script>
  <script src="/js/freader/tmpls.js" data-profile="dev"></script>
  <script src="/js/freader/util.js" data-profile="dev"></script>
  <script src="/js/freader/models.js" data-profile="dev"></script>
  <script src="/js/freader/views.js" data-profile="dev"></script>
  <script src="/js/freader/magic.js" data-profile="dev"></script>
  <script src="/js/freader/application.js" data-profile="dev"></script>
  <script src="/js/freader-{VERSION}-min.js" data-profile="prod"></script>
</div>
