<div id="main" class="clearfix">
  <nav>
    <div id="add-subscription">
      <span>Add subscription</span>
      <div class="form">
        <input placeholder="add feed link here"/>
      </div>
    </div>
  </nav>
  <div id="content">
  </div>
  <script src="/js/jquery-1.6.1.js" data-profile="development"></script>
  <script src="/js/underscore.js" data-profile="development"></script>
  <script src="/js/backbone.js" data-profile="development"></script>
  <script src="/js/handlebars-1.0.0.beta.2.js"
          data-profile="development"></script>
  <script src="/js/freader/util.js" data-profile="development"></script>
  <script src="/js/freader/tmpls.js" data-profile="development"></script>
  <script src="/js/freader/application.js"
          data-profile="development"></script>
  <script src="/js/freader-{VERSION}-min.js" data-profile="production"></script>
</div>
