<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rssminer - an intelligent RSS reader</title>
    <link rel="stylesheet" href="/css/landing.css?{VERSION}">
    <meta name="keywords" content="RSS miner, Rssminer, RSS aggregator,
                                   intelligent RSS reader">
    <meta name="description"
          content="Rssminer is an intelligent web-based RSS reader. By
                   machine learning, Rssminer highlight stories you
                   like, and help discover stories you may like.">
  </head>
  <body>
    <div id="page-wrap">
      <div id="header" class="clearfix">
        <div class="content">
          <h1 class="lfloat">
            <a href="/">Rssminer</a></h1>
          <form action="/login" method="post"
                id="login-form" class="rfloat">
            <table>
              <tr>
                <td><input name="email" id="email"
                           placeholder="Email"/></td>
                <td><input type="password" name="password"
                           id="password" placeholder="Password"/></td>
                <td><input type="submit" value="Sign in" /></td>
              </tr>
              <tr>
                <td><input type="checkbox" id="persistent" checked
                           name="persistent">
                  <label for="persistent">Keep me logged in</label>
                </td>
                <td colspan="1"><a href="/recover">
                    Forget password</a></td></tr>
            </table>
            <input type="hidden" name="return-url" value="/a"/>
        </div>
      </form></div> <!-- header -->
      <div id="content">
        <div id="main" class="clearfix">
          <div class="lfloat">
            <p>Rssminer is an intelligent RSS reader. By
              machine learning, Rssminer highlight stories you
              like, and help discover stories you may like.</p>
            <!-- <p>Take a look, <a href="/app">here</a></p> -->
            <h3>why another one? </h3>
            <p>There are many good reader out there, like google reader.</p>
            <p>Rssminer want to solve a few problem: </p>
            <!--
            <img src="/imgs/why.png?{VERSION}" style="display: none"/>
            <img src="/imgs/not-available.png?{VERSION}" width="500"/>
            <img src="/imgs/not-available-greader.png?{VERSION}"
                 width="500"/>
            -->
            <div id="imgs">
              <a href="/imgs/l/scott.png?{VERSION}" class="g"
                 title="group feeds, sort them by you preference">
                <img src="/imgs/l/scott.png?{VERSION}"/>
              </a>
              <a href="/imgs/l/original.png?{VERSION}" class="g"
                 title="read the original feed, instead of just abstract">
                <img src="/imgs/l/original.png?{VERSION}"/>
              </a>
              <a href="/imgs/l/keyboard.png?{VERSION}" class="g"
                 title="keyboard shortcut">
                <img src="/imgs/l/keyboard.png?{VERSION}"/>
              </a>
            </div>

            <h3>Status</h3>
            <p>Not ready yet.
              Please check the souce code
              <a href="https://github.com/shenfeng/rssminer">here</a>.
            </p>
          </div>
          <div class="rfloat">
            <h3>Already have an Google account?</h3>
            <a href="/login/google"
               title="Sorry, not ready yet. Coming soon..."
               onclick="javascript:alert('Sorry, not ready yet. Coming soon...'); return false">
              <img src="/imgs/openid_google.png"/>
            </a>
            <h3>Create an account</h3>
            <form action="/signup" method="post" id="signup-form">
              <table>
                <tr>
                  <td><label for="reg-email">Email: </label></td>
                  <td><input id="reg-email"
                             placeholder="Your Email" name="email"/></td></tr>
                <tr>
                  <td><label for="reg-password">Password:</label></td>
                  <td><input id="reg-password" name="password"
                             placeholder="Password" type="password"/></td></tr>
                <tr>
                  <td></td>
                  <td><input type="submit" disabled
                             title="Sorry, not ready yet. Coming soon..."
                             value="Sign up"/></td></tr>
              </table>
            </form>
            <h3>Google Chrome extension</h3>
            <a href="/rssminer.crx">
              <img src="/imgs/icon48.png?{VERSION}"/>
            </a>
          </div> <!-- right, login form -->
        </div>
      </div>
      <!-- main -->
      <div id="footer">
        <div class="content clearfix">
          <ul>
            <li><a href="http://shenfeng.me">Blog</a></li>
            <li>
              <a href="https://github.com/shenfeng/rssminer">Code</a>
            </li>
          </ul>
        </div>
      </div> <!-- footer -->
    </div>   <!-- page-wrap -->
    <script src="/js/lib/jquery.js" data-profile="dev"></script>
    <script src="/js/lib/jquery.colorbox.js" data-profile="dev"></script>
    <script src="/js/rssminer/landing.js" data-profile="dev"></script>
    <script src="/js/landing-min.js?{VERSION}" data-profile="prod"></script>
  </body>
</html>
