<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RSSMiner -  intelligent rss reader</title>
    <link rel="stylesheet" href="/css/landing.css?{VERSION}">
    <link rel="icon" type="image/png" href="/imgs/16px-feed-icon.png"/>
    <meta name="keywords" content="rss miner, rssminer, rss aggregator,
                                   intelligent rss reader">
    <meta name="description"
          content="RSSMiner is an intelligent web-based rss reader. By
                   machine learning, RSSMiner highlight stories you
                   like, and help discover stories you may like.">
  </head>
  <body>
    <div id="page-wrap">
      <div id="header" class="clearfix">
        <div class="content">
          <h1 class="lfloat">
            <a href="/">RSSMiner</a></h1>
          <form action="/login" method="post"
                id="login-form" class="rfloat">
            <table>
              <tr>
                <td><input name="email" id="email"
                           placeholder="Email"/></td>
                <td><input type="password" name="password"
                           id="password" placeholder="Password"/></td>
                <td><input type="submit" value="Sign in" /></td>
              </tr>
              <tr>
                <td><input type="checkbox" id="persistent"
                           name="persistent">
                  <label for="persistent">Keep me logged in</label>
                </td>
                <td colspan="1"><a href="/recover">
                    Forget password</a></td></tr>
            </table>
            <input type="hidden" name="return-url" value="/app"/>
        </div>
      </form></div> <!-- header -->
      <div id="main" class="clearfix">
        <div class="lfloat">
          <p>RSSMiner is an intelligent web-based rss reader. By
            machine learning, RSSMiner highlight stories you
            like, and help discover stories you may like.</p>
          <p>Take a look, <a href="/browse">Browse</a></p>
          <h4>A short history</h4>
          <p>I want to do write something as an exercise of learning
            javascript RIA, explore ideas. eg: javascript MVC,
            javascript unit test, in browser testing, functional
            programming with javascript.</p>
          <p>For some reason, this happens from time to time</p>
          <img src="/imgs/not-available.png?{VERSION}" width="500px"/>
          <img src="/imgs/not-available-greader.png?{VERSION}" width="500px"/>
          <p>I want to make my reading experience better. So, I
            begin to write RSSMiner,
            in <a href="http://clojure.org/">Clojure</a>, and
            Javascript...</p>
          <p>RSSMiner is intelligent. It can discover
            something interesting feeds that I may like by
            learning.</p>
          <p>Not ready yet, coming soon...</p>
        </div>
        <div class="rfloat">
          <h3>Create an account</h3>
          <form action="/signup" method="post" id="signup-form">
            <table>
              <tr>
                <td><label for="reg-email">Email: </label></td>
                <td><input id="reg-email"
                           placeholder="Your Email" name="email"/></td></tr>
              <tr>
                <td><label for="reg-password">Password:</label></td>
                <td><input id="reg-password" name="password"
                           placeholder="Password" type="password"/></td></tr>
              <tr>
                <td></td>
                <td><input type="submit" disabled
                           title="Sorry, not ready yet. Coming soon..."
                           value="Sign up"/></td></tr>
            </table>
          </form>
        </div> <!-- right, login form -->
      </div> <!-- main -->
      <div id="footer">
        <div class="content clearfix">
          <ul>
            <li><a href="http://shenfeng.me">Blog</a></li>
            <li>
              <a href="https://github.com/shenfeng/rssminer">Code</a>
            </li>
            <li><a href="/browse">Browse</a></li>
          </ul>
        </div>
      </div> <!-- footer -->
    </div>   <!-- page-wrap -->
    <script type="text/javascript" data-profile="prod">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16852768-4']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
