<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>title</title>
    <title>Rss/Atom Reader - another reader</title>
    <link rel="stylesheet" href="/css/landing.css" data-profile="Dev">
    <link rel="stylesheet" href="/css/landing-{VERSION}-min.css"
          data-profile="prod">
    <meta name="description"
          content="Freader is a another Web-based aggregator, let you
                   read up to date Atom and RSS feeds online in one
                   place with ease. We Focused on reading experience!">
  </head>
  <body>
    <div id="page-wrap">
      <div id="header">
        <h1>
          <a href="/">Reader</a>
          <span class="sub">just another one</span>
        </h1>
      </div>
      <div id="container">
        <p>Freader is a another Web-based aggregator, let you
          read up to date Atom and RSS feeds online in one
          place with ease. We Focused on reading experience!</p>

        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    </div>
  </body>
</html>
