<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="/imgs/16px-feed-icon.png"/>
    <title>Rss/Atom Reader - another reader</title>
    <meta name="description"
          content="Rssminer is a another Web-based aggregator, let you
                   read up to date Atom and RSS feeds online in one
                   place with ease. We Focused on reading experience!">
    <!--[if lt IE 9]>
        <script src="/js/modernizr.js?{VERSION}"></script> <![endif]-->
    <link rel="stylesheet" href="/css/style.css" data-profile="Dev">
    <link rel="stylesheet" href="/css/style-{VERSION}-min.css"
          data-profile="prod">
  </head>
  <body>
    <div id="container">
      <div id="notification">
        <p class="message"></p>
      </div>
      <div id="header">
        <h1>
          <a href="#">Reader</a>
          <span class="sub">just another one</span>
        </h1>
      </div>
      <div id="main">
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
