<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
             value="%d{yy/MM/dd HH:mm:ss,SSS} [%t] %4p %c{1} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
		</filter>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/tmp/rssminer.log" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
             value="%d{yy/MM/dd HH:mm:ss,SSS} [%t] %4p %c{1} - %m%n" />
		</layout>
	</appender>

	<root>
		<level value="trace" />
		<appender-ref ref="stdout" />
    <appender-ref ref="file" />
	</root>
</log4j:configuration>
