<div id="accouts-div">
  <form action="" method="post" class="post-form">
    <table>
      <caption>Create an account</caption>
      <tr>
        <td><label for="email">Email: </label>
        </td>
        <td><input class="textfield" id="email" name="email"/>
          <span class="required">*</span> 
        </td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input class="textfield" name="password" 
                   id="password" type="password"/>
          <span class="required">*</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Create" class="submit"/></td>
      </tr>
    </table>
  </form>
</div>
